@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');body{
    height: 100dvh;
    margin: 0;
}
.up_div{
    background: #000000;
    width: 100%;
    height: 60%;
}
.centre_div{
    background: #dde1e8;
    width: 100%;
    height:90%;
    display: flex;
    flex-direction:column ;
    align-items: center;

}
.bottom_div{
    background: rgba(0, 0, 0, 0);
    width: 100%;
    height: 60%;
    margin-top: 500px;
}
.top_header{
    background: #fcfcfc;
    width: 100%;
    height: 7%;
    display: flex;
    align-items: center;

}
.Header{
    display: flex;
    align-items: center;

    background: #fcfcfc;
    width: 100%;
    height: 15%;
    border-top: 2px solid rgba(147, 147, 147, 0.14);
}
.Sub_header{
    background: #319dff;
    width: 100%;
    height: 7%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Slider{
    width: 100%;
    height: 90%;
    display: flex;
    align-items: self-end;
    justify-content: center;
    background: linear-gradient(182deg, #F2FFF7 0%, #C3F4FF 100%)
}
.Frame5{
    display: flex;
    align-items: self-end;
    justify-content: center;
    margin-left: 500px;
    width: 50%;
    height: 100%;
}
.Frame20{
    display: flex;
    align-items: center;

    width: 12%;
    height: 60%;
    margin: 100px;
}
.Frame21{
    display: flex;
    align-items: center;

position: absolute;
    top: 4px;
    right: 100px;

    width: 34%;
    height: 3%;
}
.Language{
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 2px solid rgba(147, 147, 147, 0.14);
    width: 50%;
    height: 100%;
}
.Currency{
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 2px solid rgba(147, 147, 147, 0.14);
    width: 50%;
    height: 100%;
}
.Frame22{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    height: 80%;
    margin: 11%;
}
#Language,#Currency{
    font-size: 18px;
    font-family: 'popins',sans-serif;
}

.Icon{

    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;

}
.Frame10{
    display: flex;
    align-items: center;

    width: 13%;
    height: 60%;
    margin: 5%;
}
.icon_menu{

    width: 15%;
    height: 80%;
}
.icon{
    width: 100%;
    height: 100%;
}
.Logo{

    width: 60%;
    height: 200%;
    margin: 10%;
    margin-top:35px;
}
.Input_fields{
    display: flex;
    align-items: center;

    width: 38%;
    height: 50%;
}
.Frame30{
    background: #fcfcfc;
    width: 90%;
    height: 100%;
    border-bottom-left-radius:100px;
    border-top-left-radius:100px;
    border: 2px solid #319dff;

}
.Frame31{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10%;
    height: 100%;
    background: #319dff;
    border-bottom-right-radius:100px;
    border-top-right-radius:100px;
    border: 2px solid #319dff;
}
.text{
    font-family: 'popins',sans-serif;
    font-size: 16px;
    width: 300%;
    height: 50%;
    margin: 5px;

}
.links_and_link_buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 8%;
    height: 100%;
    border-right: 2px solid #0187ff;
    margin: 0.5%;

}
.links_and_link_buttons span{
    font-size: 17px;
}
.Slide_dots{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 1000px;
    top: 640px;
    width: 3%;
    height: 2%;

}
.Rectangle10{
    background: #fff1f1;
    border-radius: 100%;
    width: 20%;
    height: 80%;
    margin: 2px;
    border: 2px solid #319dff;
}
.Shop_Features_v1{
    width: 80%;
    height: 15%;
    margin-top:10%;
    margin-left: 170px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid rgba(147, 147, 147, 0.14);
    border-radius: 10px;
}
.Shop_Feature_01{
    width: 20%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 2px solid rgba(147, 147, 147, 0.14);

}
.Icons{
    width: 25%;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2px;
}
.Frame40{
    display: flex;
    align-items: center;
    justify-content: start;
    width: 32%;
    height: 60%;
}
.Social_links{
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.transparent_top_bar_buttons{

    width: 20%;
    height: 100%;
    border-left: 2px solid rgba(147, 147, 147, 0.14);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 9px;
}
.social_buttons{
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#Shop{
    width: 12%;
    height: 100%;
}
#FAQ{
    width: 5%;
    height: 100%;

}
#Settings{
    width: 13%;
    height: 100%;
}
img{
    margin: 10px;
}
.Frame60{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15%;
    height: 35%;
    margin: 100px;
}
.icon_menu{
    width: 20%;
    height: 100%;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Featured_products_01{

    width: 100%;
    height: 70%;
    margin-top: 1px;
    display: flex;
    flex-direction:column ;
    align-items: center;
    justify-content: center;
}
.Title_v1{
    display: flex;
    align-items: center;
    width:85%;
    height: 10%;

}
.Frame50{
    display: flex;
    align-items: center;
    width: 85%;
    height: 85%;

}
.Frame51{
    display: flex;
    align-items: center;
    border-bottom: 2px solid #319dff;
    width: 15%;
    height: 90%;
    font-family: 'popins',sans-serif;

}
.Frame52{

    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 82%;
    width: 5%;
    height: 90%;
}
.Frame51,span{
    color: #000000;
    font-size:23px;
    margin-left: 2%;
}
button{
    font-size:23px;
    outline: none;
    border: 0;
    color: #000000;
    background: rgba(255, 255, 255, 0);

}
.Product_card_v1{
    width: 20%;
    height: 75%;
    border: 2px solid rgba(147, 147, 147, 0.14);
    border-radius: 2%;
    margin-left: 2%;
    margin-bottom: 5%;

}
.Frame53{
    font-family: 'popins',sans-serif;
    display: flex;
    align-items: center;
    width: 100%;
    height: 6%;
    margin-top: 1%;
    margin-left: 5%;

}
.Product_card_title{
    width: 101%;
    height: 10%;
    margin-top: 9%;
    margin-left: 6%;
    margin-right: 1%;
    font-family: 'popins',sans-serif;

}
.prodcut_photos img{
    width: 75%;
    height: 52%;
    margin-left: 13%;
    margin-top: 8%;
    background-size: 100% 90%;
    background-repeat:no-repeat;

}
.Price_and_add_to_cart{
    display: flex;
    align-items: center;
    width: 100%;
    height: 10%;
margin-top:5% ;

}
.Product_card_v1 span{
    font-size: 14px;
}
.Product_card_v1 a{
    font-size: 18px;
    text-decoration:none;
    color: #319dff;
}

.cost{
    display: flex;
    align-items: center;
    width: 50%;
    height: 60%;
    margin-left: 5%;
}
.cost span{
    font-size: 22px;
}
.Price_and_add_to_cart  .icon{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #eef0f4;
    width: 13%;
    height: 80%;
    margin-left: 28%;
    border-radius: 100%;

}
.Title_Categories{

    width: 85%;
    height: 6%;
    margin-top: 1%;
    display: flex;
    align-items: center;

}
.menu_Categories{

    width: 80%;
    height: 80%;
    margin-top: 1%;

}
.Title_Categories span{
    margin-left: 3%;
    font-size: 30px;
    font-family: 'popins',sans-serif;
    border-bottom: 2px solid #319dff;
    height: 85%;
}
.up_Category{

    background: #dde1e8;
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

}
.Category_card_v1{
    background: #ffffff;
    width: 25%;
    height: 90%;
    margin-right: 2%;
    border-radius: 3px;

}
.bottom_Category{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #dde1e8;
    width: 100%;
    height: 50%;

}
.Frame_Name{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 10%;
    margin-top: 3%;
    font-family: 'popins',sans-serif;

}
.category_photos  {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    height: 65%;
    margin-left: 15%;
    margin-top: 3%;
    background-size: 100% 10%;
    background-repeat:no-repeat;

}

.Icon_buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #dde1e8;
    width: 12%;
    height: 14%;
    margin-left: 82%;
    border-radius: 100%;
}
.col_banner{
    width:100%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.left_banner{
    display: flex;
    align-items: center;


    background: linear-gradient(182deg, #F2FFF7 0%, #C3F4FF 100%);
    width: 40%;
    height: 90%;
    border-radius: 4px;
}
.right_banner{
    width: 40%;
    display: flex;
    align-items: center;
    background: linear-gradient(182deg, #FFF4FD 0%, #CBCDFF 100%);
    height: 90%;
    margin-left: 3%;
    border-radius: 4px;
}
.text_banner{
    width: 50%;
    height: 30%;
    margin-left: 20px;
}
.text_banner span{
    font-size: 29px;
    font-family: 'popins',sans-serif;
}
.img_banner{
    width: 40%;
    height: 60%;
    margin-left: 4%;
    margin-bottom: 4%;
}
.Price_and_add_to_cart_Big_Deals{
    display: flex;
    align-items: center;
    width: 100%;
    height: 10%;
    margin-top:5% ;
}
.Price_and_add_to_cart_Big_Deals .icon{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #eef0f4;
    width: 13%;
    height: 80%;
    margin-left: 28%;
    border-radius: 100%;
}
.cost_Big_Deals{
    display: flex;
    align-items: center;

    width: 50%;
    height: 60%;
    margin-left: 5%;
}
.cost_Big_Deals span{
text-decoration-line:line-through;
    font-size: 15px;
    font-family: 'popins',sans-serif;
}
.price{
    margin-left: 2%;
    width: 55%;
    height: 70%;
}
.price_discount{
    margin-left: 6%;
}
.price_discount span{
    font-size: 20px;
    font-family: 'popins',sans-serif;
    color: #f80707;
}
.partners{
    display: compact;
    align-items: center;
    border: 2px solid rgba(147, 147, 147, 0.14);
    width: 84%;
    height: 30%;
    margin-left: 9%;
    border-radius: 5px;

}
.partners_up{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50%;
}

.partners_botton{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50%;
}
.partners_settings_img{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    height: 50%;
    margin-left: 1%;
    margin-right: 1%;
}
.partners_img{

    width: 65%;
    height: 65%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Product_lists{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #dde1e8;
    width: 100%;
    height: 800px;
    margin-top: 60px;
}
.selection_class{
    width: 27%;
    height: 90%;
    margin-left: 25px;

}
.name_Class{
    display: flex;
    align-items: center;
    width: 32%;
    height: 10%;
    border-bottom: 2px solid #319dff;
}
.products_Class{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background: #ffffff;
    height: 25%;
    margin-top: 25px;
    border-radius: 5px;
}
.products{
    display: flex;
    align-items: center;
    width: 93%;
    height: 80%;

}
.products_left{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: 100%;
}
.products_right {
    display: compact;
    width: 70%;
    height: 100%;
}
.Product_card_title2{
    width: 90%;
    height: 30%;
    margin-left: 16px
}
.Rating{
    display: flex;
    align-items: center;

    margin-top: 20px;
    width: 40%;
    height: 20%;
    margin-left: 16px;
}
.Price_and_add_to_cart2{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 33%;
    margin-top: 10px;

}
.star{
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}
.Price_and_add_to_cart2 .icon{
    background: #dde1e8;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 13%;
    height: 90%;
    border-radius: 100%;
    margin-left:180px;
}
.Price_and_add_to_cart2 .cost{
    width:30%;
    height: 60%;
    font-family: 'popins',sans-serif;
}
.Product_card_title2 a{
    font-size: 20px;
   text-decoration-line: none;
    color: #0077e4;
    font-family: 'popins',sans-serif;
}
.name_Class span{
    font-size: 30px;
}
.Newsletter_subscribe_bar{
    display: flex;
    align-items: center;
    background: #3b4758;
    width: 100%;
    height: 12%;

}
.Input_fields{
    width: 30%;
    height: 40%;
    margin-left: 400px;

}
.Input_fields input{
    width: 90%;
    height: 94%;
        border-bottom-left-radius:50px;
        border-top-left-radius:50px;
    border:none;
}
.Input_fields button{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #319dff;
    width: 10%;
    height: 100%;
    border-top-right-radius:50px;
    border-bottom-right-radius:50px;
}
#email_address:focus{
    outline: none !important;
    font-size: 16px;
}
.text2 span{
    color: #ffffff;
    font-family: 'popins',sans-serif;
    font-size: 17px;
}
.text2{
    width: 30%;
    height: 20%;
    margin-left: 170px;
}
.bottom{
    width: 100%;
    height: 60%;
}
.up_botton{
    width: 100%;
    height: 93%;
    display: flex;
    align-items: center;

}
.Bottom_footer{
    border-top: 2px solid #7d8fa9;
    width: 100%;
    height: 7%;
    display: flex;
    align-items: center;
}
.footer_customer{
    width: 30%;
    height: 90%;
    margin-left: 100px;
}
.footer_customer_v1{
    width:15%;
    height: 85%;
    margin-left: 50px;
}
.Logo_botton{
    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
}
.information_botton{
    width: 100%;
    height: 85%;

}
.information{
    width: 70%;
    height: 17%;
    margin-top: 25px;
    display: compact;

}
.black_span{
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    font-family: 'popins',sans-serif;
}
.black_span  span{
    font-size: 20px;
}
.thin_span{

    display: flex;
    align-items: center;
    width: 100%;
    height: 50%;
    font-family: 'popins',sans-serif;
}
.thin_span span{
    font-size: 15px;
    font-family: 'popins',sans-serif;
    color: rgba(88, 106, 132, 0.74);
}
.Social_links2{
    display: flex;
    align-items: center;
    width: 55%;
    height: 100%;
}
.social_buttons2{
    display: flex;
    align-items: center;
    width: 70%;
    height: 40%;
}
.black_span2{
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    font-family: 'popins',sans-serif;
}
.thin_span2{
    width: 100%;
    height: 5%;
    margin-top: 25px;
}
.thin_span2 span{
    font-size: 15px;
    color: rgba(88, 106, 132, 0.74);
    font-family: 'popins',sans-serif;
}
.black_span2 span{
    font-size: 20px;
}
.Shoperz{
    width: 20%;
    height: 50%;
    margin-left:100px;
}
.Shoperz span{
    font-size: 18px;
    color: rgba(88, 106, 132, 0.74);
    font-family: 'popins',sans-serif;
}
.Payment_links{
    width: 12%;
    height: 60%;
    margin-left: 1000px;
    display: flex;
    align-items: center;
}
.payment{
    width: 25%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}